body
    {
        background-image: url("back.png");
        background-repeat: no-repeat;
        background-size: 1900px 1200px;
        margin-top: 100px;
        margin-left:50px; 
        background-attachment:fixed;
    }

    h2
    {
       text-align: center;
       color:#000033;
       font:sans-serif;
    }

    h3
    {
       text-align: center;
       color:#000033;
       font:sans-serif;
       margin-left: 0px;
       margin-top: 00px; 
    }